.form-login h2.form-login-heading {
    background: #333333;
    color: #555;
}

.btn-theme {
    background-color: #333333;
    border-color: #555;
    color : #ffffff;
}
.btn-theme:hover {
    background-color: #ffffff;
    color : #000;
    border-color: #555;
}
.login-logo {
    height : 64px;
}
